# Singapore HDB Resale Price Prediction

In [3]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score 

%matplotlib inline

In [4]:
# Define all required functions here
def normalization (x, min, max):
    normalize = (x - min)/(max - min)
    return float(normalize)

def convert_lease (x):
    array_x = x.split(sep=" ")
    if (len(array_x) > 2):
        month = int(array_x[2])/12
        x_convert = int(array_x[0]) + month
        return float(x_convert)
    else:
        x_convert = array_x[0]
        return float(x_convert)

def convert_flattype (x):
    if "2 ROOM" in x:
        return int(0)
    elif "3 ROOM" in x:
        return int(1)
    elif "4 ROOM" in x:
        return int(2)
    elif "5 ROOM" in x:
        return int(3)
    elif "EXECUTIVE" in x:
        return int(4)
    else:
        return int(5)

def convert_storeyrange (x):
    if "01 TO 03" in x:
        return int(0)
    elif "04 TO 06" in x:
        return int(1)
    elif "07 TO 09" in x:
        return int(2)
    elif "10 TO 12" in x:
        return int(3)
    elif "13 TO 15" in x:
        return int(4)
    else:
        return int(5)

In [5]:
# Reading CSVs into dataframe
hdb_df = pd.read_csv("all_geocoded.csv")
print (hdb_df.shape)
hdb_df.head()

(57386, 18)

,month,town,flat_type,addresses,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,searchval,X,Y,lat,long,distanceWithMrt,distanceWithRaffles,distanceWithGdPri
0,2018-01,ANG MO KIO,2 ROOM,314 ANG MO KIO AVE 3,10 TO 12,44.0,Improved,1978,59 years 01 month,250000.0,TECK GHEE EVERGREEN,29865.99805,38695.97027,1.366227,103.850086,416.686149,9162.186778,1396.420210
1,2018-01,ANG MO KIO,3 ROOM,109 ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,59 years 07 months,240000.0,KEBUN BARU HEIGHTS,28486.23758,39123.83010,1.370097,103.837688,1321.143682,9713.392312,552.239946
2,2018-01,ANG MO KIO,3 ROOM,150 ANG MO KIO AVE 5,01 TO 03,68.0,New Generation,1981,62 years,240000.0,YIO CHU KANG GROVE,28968.13327,39865.81646,1.376807,103.842018,640.152689,10391.930070,879.171242
3,2018-01,ANG MO KIO,3 ROOM,559 ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1980,61 years,242000.0,CHENG SAN PLACE,30730.76021,39223.53457,1.370998,103.857856,931.080675,9718.096454,1885.848306
4,2018-01,ANG MO KIO,3 ROOM,461 ANG MO KIO AVE 10,10 TO 12,68.0,New Generation,1980,61 years 01 month,255000.0,HDB-ANG MO KIO,30681.04009,38839.80113,1.367528,103.857410,913.873510,9329.200120,1984.578623

In [6]:
# Converting non-numerics columns to numerics
hdb_df['flat_type_num'] = hdb_df['flat_type'].apply(convert_flattype)
hdb_df['remaining_lease_num'] = hdb_df['remaining_lease'].apply(convert_lease)
hdb_df['storey_range_num'] = hdb_df['storey_range'].apply(convert_storeyrange)
hdb_df.shape

(57386, 21)

In [5]:
# Identifying the columns available in dataframe
hdb_df.columns

Index(['month', 'town', 'flat_type', 'addresses', 'storey_range',
       'floor_area_sqm', 'flat_model', 'lease_commence_date',
       'remaining_lease', 'resale_price', 'searchval', 'X', 'Y', 'lat', 'long',
       'distanceWithMrt', 'distanceWithRaffles', 'distanceWithGdPri',
       'flat_type_num', 'remaining_lease_num', 'storey_range_num'],
      dtype='object')

In [7]:
hdb_df.head()

,month,town,flat_type,addresses,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,...,X,Y,lat,long,distanceWithMrt,distanceWithRaffles,distanceWithGdPri,flat_type_num,remaining_lease_num,storey_range_num
0,2018-01,ANG MO KIO,2 ROOM,314 ANG MO KIO AVE 3,10 TO 12,44.0,Improved,1978,59 years 01 month,250000.0,...,29865.99805,38695.97027,1.366227,103.850086,416.686149,9162.186778,1396.420210,0,59.083333,3
1,2018-01,ANG MO KIO,3 ROOM,109 ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,59 years 07 months,240000.0,...,28486.23758,39123.83010,1.370097,103.837688,1321.143682,9713.392312,552.239946,1,59.583333,0
2,2018-01,ANG MO KIO,3 ROOM,150 ANG MO KIO AVE 5,01 TO 03,68.0,New Generation,1981,62 years,240000.0,...,28968.13327,39865.81646,1.376807,103.842018,640.152689,10391.930070,879.171242,1,62.000000,0
3,2018-01,ANG MO KIO,3 ROOM,559 ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1980,61 years,242000.0,...,30730.76021,39223.53457,1.370998,103.857856,931.080675,9718.096454,1885.848306,1,61.000000,0
4,2018-01,ANG MO KIO,3 ROOM,461 ANG MO KIO AVE 10,10 TO 12,68.0,New Generation,1980,61 years 01 month,255000.0,...,30681.04009,38839.80113,1.367528,103.857410,913.873510,9329.200120,1984.578623,1,61.083333,3

In [8]:
# Re-order dataframe based on different flat type
flat_type = ['2 ROOM', '3 ROOM', '4 ROOM', '5 ROOM', 'EXECUTIVE', 'MULTI-GENERATION']
all_hdb_flat_df = []

for flat in flat_type:
    temp_df = hdb_df[hdb_df['flat_type'] == flat]
    all_hdb_flat_df.append(temp_df)

In [9]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

with pd.ExcelWriter("hdb_numerics_corr_matrix.xlsx") as writer:
    for i in range(0,6):
        hdb_numerics_df = all_hdb_flat_df[i].select_dtypes(include=numerics)
        hdb_numerics_df_corr = hdb_numerics_df.corr()
        hdb_numerics_df_corr.style.background_gradient(cmap='coolwarm').set_precision(2).to_excel(writer, sheet_name=flat_type[i])

In [10]:
group_multiple = hdb_df.groupby(['town', 'flat_type']).agg({'resale_price': ['mean', 'min', 'max']})
group_multiple.to_csv("hdb_group.csv")
group_multiple

                              resale_price
                                      mean       min        max
town       flat_type
ANG MO KIO 2 ROOM            203333.333333  178000.0   250000.0
           3 ROOM            288837.094177  174000.0   519000.0
           4 ROOM            467219.239193  275000.0   782000.0
           5 ROOM            674743.531863  420000.0   970888.0
           EXECUTIVE         811086.750000  623000.0  1030000.0
...                                    ...       ...        ...
YISHUN     3 ROOM            272516.216667  205000.0   448000.0
           4 ROOM            359630.018447  240000.0   625000.0
           5 ROOM            471712.538141  330000.0   758000.0
           EXECUTIVE         578406.892523  450000.0   788888.0
           MULTI-GENERATION  765245.473684  660000.0   868000.0

[128 rows x 3 columns]

In [11]:
# Check the data-type for each columns
all_hdb_flat_df[0].dtypes

month                   object
town                    object
flat_type               object
addresses               object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
remaining_lease         object
resale_price           float64
searchval               object
X                      float64
Y                      float64
lat                    float64
long                   float64
distanceWithMrt        float64
distanceWithRaffles    float64
distanceWithGdPri      float64
flat_type_num            int64
remaining_lease_num    float64
storey_range_num         int64
dtype: object

In [12]:
hdb_features_df = []

for j in range (0, 6):
    temp_features_df = all_hdb_flat_df[j][['floor_area_sqm', 
                                           'X', 
                                           'Y', 
                                           'distanceWithMrt', 
                                           'distanceWithRaffles', 
                                           'distanceWithGdPri', 
                                           'flat_type_num', 
                                           'remaining_lease_num', 
                                           'storey_range_num', 
                                           'resale_price']]
    hdb_features_df.append(temp_features_df)
    
hdb_features_df

[       floor_area_sqm            X            Y  distanceWithMrt  \
 0                44.0  29865.99805  38695.97027       416.686149
 55               45.0  38182.29501  35026.16233       783.869194
 168              34.0  27839.11989  29967.31053       510.157427
 169              45.0  25355.90288  28249.96848       119.075919
 255              53.0  28677.59670  29977.19741       559.457438
 ...               ...          ...          ...              ...
 57012            43.0  30132.68196  35602.31567       679.007626
 57071            47.0  24419.97266  47713.39739       800.440329
 57072            47.0  24419.97266  47713.39739       800.440329
 57073            47.0  24405.26496  47842.23908       929.960779
 57222            47.0  29639.31594  44998.66965      1608.152888

        distanceWithRaffles  distanceWithGdPri  flat_type_num  \
 0              9162.186778        1396.420210              0
 55             9824.205002         809.492370              0
 168            2211.956825         895.581090              0
 169            4856.406775        1665.691651              0
 255            1395.429693         846.274468              0
 ...                    ...                ...            ...
 57012          6047.479616         349.660134              0
 57071         19079.191749         579.016440              0
 57072         19079.191749         579.016440              0
 57073         19207.517995         704.363979              0
 57222         15510.698094         835.404247              0

        remaining_lease_num  storey_range_num  resale_price
 0                59.083333                 3      250000.0
 55               67.083333                 1      245000.0
 168              52.500000                 2      208000.0
 169              57.083333                 1      240000.0
 255              52.416667                 3      250000.0
 ...                    ...               ...           ...
 57012            61.833333                 2      183888.0
 57071            93.916667                 4      230000.0
 57072            93.916667                 2      218000.0
 57073            93.916667                 1      230000.0
 57222            94.333333                 0      240000.0

 [984 rows x 10 columns],
        floor_area_sqm            X            Y  distanceWithMrt  \
 1                67.0  28486.23758  39123.83010      1321.143682
 2                68.0  28968.13327  39865.81646       640.152689
 3                68.0  30730.76021  39223.53457       931.080675
 4                68.0  30681.04009  38839.80113       913.873510
 5                67.0  30642.31489  38650.92140       952.345915
 ...               ...          ...          ...              ...
 57256            67.0  29266.06681  46069.01208      1145.232127
 57257            67.0  29231.41923  44639.74312      1301.622459
 57258            68.0  29293.48044  44558.04611      1347.150094
 57259            64.0  27709.70268  45411.07798       552.355671
 57260            73.0  28070.69073  44004.81023       366.491457

        distanceWithRaffles  distanceWithGdPri  flat_type_num  \
 1              9713.392312         552.239946              1
 2             10391.930070         879.171242              1
 3              9718.096454        1885.848306              1
 4              9329.200120        1984.578623              1
 5              9136.815257        1807.287643              1
 ...                    ...                ...            ...
 57256         16600.689930         879.968456              1
 57257         15165.180613         425.932991              1
 57258         15079.930467         515.633960              1
 57259         16087.878241        1286.442971              1
 57260         14635.792963        1094.493934              1

        remaining_lease_num  storey_range_num  resale_price
 1                59.583333                 0      240000.0
 2                62.000000                 0      240000.0
 3                61.000000                 0      242000.0
 4                61.083333                 3      255000.0
 5                65.666667                 1      255000.0
 ...                    ...               ...           ...
 57256            94.250000                 2      328000.0
 57257            92.083333                 3      330000.0
 57258            94.583333                 4      322500.0
 57259            66.166667                 2      268000.0
 57260            66.833333                 0      262000.0

 [13820 rows x 10 columns],
        floor_area_sqm            X            Y  distanceWithMrt  \
 35               92.0  30347.47537  38995.85250       551.423858
 36               92.0  29179.91514  38822.07565       689.288025
 37               98.0  29060.48558  38651.05298       875.898655
 38              102.0  28524.35114  40137.11612       818.367327
 39               92.0  29274.21214  39211.76801       543.629431
 ...               ...          ...          ...              ...
 57340            84.0  27933.90681  45282.66763       478.882459
 57341           104.0  28404.15389  44055.27985       533.670475
 57342            84.0  28311.51274  44027.29078       478.724942
 57343           104.0  28386.96589  44206.19263       449.495832
 57344            84.0  28521.55069  43968.06450       680.142469

        distanceWithRaffles  distanceWithGdPri  flat_type_num  \
 35             9468.493423        1895.746253              2
 36             9325.713343        1282.901872              2
 37             9165.973067        1225.992694              2
 38            10716.540930         699.692163              2
 39             9708.809058        1206.108872              2
 ...                    ...                ...            ...
 57340         15929.052469        1027.660751              2
 57341         14645.635612         850.983634              2
 57342         14628.156842         924.255045              2
 57343         14798.533998         733.959271              2
 57344         14545.815411         880.035009              2

        remaining_lease_num  storey_range_num  resale_price
 35               59.750000                 1      410000.0
 36               58.000000                 2      435000.0
 37               57.500000                 1      438000.0
 38               74.250000                 1      448000.0
 39               60.000000                 3      450000.0
 ...                    ...               ...           ...
 57340            65.583333                 0      318000.0
 57341            66.750000                 0      365000.0
 57342            66.166667                 1      310000.0
 57343            66.583333                 0      375000.0
 57344            66.750000                 3      318000.0

 [23629 rows x 10 columns],
        floor_area_sqm            X            Y  distanceWithMrt  \
 45              118.0  30330.38241  39707.42701       800.364539
 46              119.0  30446.32125  38170.74484      1137.723092
 47              120.0  30927.79531  38733.69480      1181.467007
 48              137.0  28570.71419  39992.49602       838.205345
 49              112.0  30288.60363  39307.11398       522.292035
 ...               ...          ...          ...              ...
 57373           113.0  29213.81961  44512.84611      1261.863150
 57374           121.0  28260.58013  44869.33743       599.684936
 57375           122.0  27800.73403  45441.72361       458.511611
 57376           122.0  27343.19605  45474.32402       870.964742
 57377           122.0  28549.90319  44008.04103       682.321138

        distanceWithRaffles  distanceWithGdPri  flat_type_num  \
 45            10183.922980        1780.303526              3
 46             8642.695856        1304.596737              3
 47             9243.632297        1819.517961              3
 48            10565.934050         658.056708              3
 49             9779.870553        2011.527048              3
 ...                    ...                ...            ...
 57373         15038.535859         470.769639              3
 57374         15476.098464         577.319320              3
 57375         16105.619218        1224.217877              3
 57376         16207.364112        1641.930217              3
 57377         14582.964365         832.472490              3

        remaining_lease_num  storey_range_num  resale_price
 45               61.166667                 1      530000.0
 46               60.333333                 5      560000.0
 47               61.000000                 5      568888.0
 48               77.416667                 1      590000.0
 49               92.583333                 1      608000.0
 ...                    ...               ...           ...
 57373            94.666667                 3      538888.0
 57374            65.500000                 2      468000.0
 57375            65.500000                 1      434000.0
 57376            65.833333                 0      395000.0
 57377            66.666667                 1      433000.0

 [14304 rows x 10 columns],
        floor_area_sqm            X            Y  distanceWithMrt  \
 54              151.0  30546.51909  38991.25957       748.181174
 108             150.0  36393.44407  34764.80883       478.949125
 109             143.0  36771.48873  35164.68727       415.997475
 110             143.0  35935.73489  34874.18764       563.307947
 111             143.0  36771.48873  35164.68727       415.997475
 ...               ...          ...          ...              ...
 57380           154.0  28721.75915  46317.74732       830.455528
 57381           146.0  28315.41791  44664.11187       472.288614
 57382           142.0  28458.31899  44789.53725       662.983861
 57383           142.0  27621.33645  45357.85481       655.684638
 57384           145.0  28237.63470  43967.63691       475.368735

        distanceWithRaffles  distanceWithGdPri  flat_type_num  \
 54             9472.862428        2009.680280              4
 108            8228.201142         863.518493              4
 109            8775.929719        1368.981843              4
 110            7952.093868         513.201075              4
 111            8775.929719        1368.981843              4
 ...                    ...                ...            ...
 57380         16883.935509         377.031439              4
 57381         15264.628719         530.766169              4
 57382         15374.950724         373.478202              4
 57383         16047.820672        1340.339325              4
 57384         14577.359215        1015.846944              4

        remaining_lease_num  storey_range_num  resale_price
 54               60.583333                 0      660000.0
 108              66.833333                 1      600000.0
 109              68.083333                 3      625000.0
 110              74.916667                 0      630000.0
 111              68.166667                 3      655000.0
 ...                    ...               ...           ...
 57380            63.750000                 0      530000.0
 57381            66.250000                 1      598000.0
 57382            66.083333                 0      510000.0
 57383            64.916667                 2      555000.0
 57384            66.333333                 1      639888.0

 [4590 rows x 10 columns],
        floor_area_sqm            X            Y  distanceWithMrt  \
 5973            164.0  28806.75637  44531.15909       863.372516
 7448            166.0  41542.44934  37819.67049       238.240048
 9688            164.0  28806.75637  44531.15909       863.372516
 12227           164.0  28806.75637  44531.15909       863.372516
 13929           166.0  41542.44934  37819.67049       238.240048
 14294           171.0  28725.97632  44493.46407       776.724096
 16278           179.0  28806.75637  44531.15909       863.372516
 16279           179.0  28806.75637  44531.15909       863.372516
 17877           132.0  41542.44934  37819.67049       238.240048
 17878           166.0  41542.44934  37819.67049       238.240048
 17879           150.0  41542.46054  37708.99782       129.967853
 17880           166.0  41542.44934  37819.67049       238.240048
 18270           179.0  28806.75637  44531.15909       863.372516
 18271           163.0  28335.83693  44832.76417       610.923823
 20137           164.0  28806.75637  44531.15909       863.372516
 24414           179.0  28806.75637  44531.15909       863.372516
 27982           164.0  28725.97632  44493.46407       776.724096
 29677           166.0  41542.44934  37819.67049       238.240048
 30052           159.0  28335.83693  44832.76417       610.923823
 30265           147.0  30056.50083  36287.55056       710.948660
 31597           166.0  41542.44934  37819.67049       238.240048
 31936           171.0  28725.97632  44493.46407       776.724096
 32176           165.0  30056.50083  36287.55056       710.948660
 34049           164.0  28806.75637  44531.15909       863.372516
 34050           159.0  28725.97632  44493.46407       776.724096
 35951           179.0  28806.75637  44531.15909       863.372516
 35952           164.0  28725.97632  44493.46407       776.724096
 38015           165.0  30056.50083  36287.55056       710.948660
 40201           169.0  30056.50083  36287.55056       710.948660
 54947           171.0  28725.97632  44493.46407       776.724096
 57385           164.0  28806.75637  44531.15909       863.372516

        distanceWithRaffles  distanceWithGdPri  flat_type_num  \
 5973          15084.200080         257.872536              5
 7448          14188.669370         690.831099              5
 9688          15084.200080         257.872536              5
 12227         15084.200080         257.872536              5
 13929         14188.669370         690.831099              5
 14294         15053.099840         313.028923              5
 16278         15084.200080         257.872536              5
 16279         15084.200080         257.872536              5
 17877         14188.669370         690.831099              5
 17878         14188.669370         690.831099              5
 17879         14123.963680         682.721188              5
 17880         14188.669370         690.831099              5
 18270         15084.200080         257.872536              5
 18271         15431.125940         498.163015              5
 20137         15084.200080         257.872536              5
 24414         15084.200080         257.872536              5
 27982         15053.099840         313.028923              5
 29677         14188.669370         690.831099              5
 30052         15431.125940         498.163015              5
 30265          6736.368855         667.365830              5
 31597         14188.669370         690.831099              5
 31936         15053.099840         313.028923              5
 32176          6736.368855         667.365830              5
 34049         15084.200080         257.872536              5
 34050         15053.099840         313.028923              5
 35951         15084.200080         257.872536              5
 35952         15053.099840         313.028923              5
 38015          6736.368855         667.365830              5
 40201          6736.368855         667.365830              5
 54947         15053.099842         313.028923              5
 57385         15084.200083         257.872536              5

        remaining_lease_num  storey_range_num  resale_price
 5973             68.666667                 2      728888.0
 7448             68.333333                 1      850000.0
 9688             68.583333                 2      765000.0
 12227            68.500000                 3      770000.0
 13929            68.083333                 1      828000.0
 14294            68.333333                 2      778000.0
 16278            68.250000                 1      780000.0
 16279            68.250000                 3      825000.0
 17877            67.916667                 3      778000.0
 17878            67.916667                 1      990000.0
 17879            67.833333                 3      800000.0
 17880            67.916667                 1      850000.0
 18270            68.166667                 2      868000.0
 18271            68.333333                 0      660000.0
 20137            68.083333                 1      750000.0
 24414            67.833333                 1      840000.0
 27982            67.666667                 2      740000.0
 29677            67.333333                 3      850000.0
 30052            67.666667                 2      718000.0
 30265            67.666667                 2      840000.0
 31597            67.250000                 2      840000.0
 31936            67.500000                 1      798888.0
 32176            66.916667                 3      930000.0
 34049            67.416667                 3      766000.0
 34050            67.500000                 1      723000.0
 35951            67.333333                 1      788888.0
 35952            67.333333                 2      740000.0
 38015            66.666667                 0      905000.0
 40201            66.583333                 3      988888.0
 54947            66.416667                 0      775000.0
 57385            66.333333                 0      725000.0  ]

In [13]:
# Normalizing features columns
hdb_data_model_df = []

flrarea_min = []
flrarea_max = []
x_min = []
x_max = []
y_min = []
y_max = []
distmrt_min = []
distmrt_max = []
distraffles_min = []
distraffles_max = []
distgdpri_min = []
distgdpri_max = []
rlease_min = []
rlease_max = []
storeyrng_min = []
storeyrng_max = []
rprice_min = []
rprice_max = []

for k in range(0, 6):
    temp = hdb_features_df[k]['floor_area_sqm'].min()
    flrarea_min.append(temp)
    temp = hdb_features_df[k]['floor_area_sqm'].max()
    flrarea_max.append(temp) 
    temp = hdb_features_df[k]['X'].min()
    x_min.append(temp)
    temp = hdb_features_df[k]['X'].max()
    x_max.append(temp)
    temp = hdb_features_df[k]['Y'].min()
    y_min.append(temp)
    temp = hdb_features_df[k]['Y'].max()
    y_max.append(temp)
    temp = hdb_features_df[k]['distanceWithMrt'].min()
    distmrt_min.append(temp)
    temp = hdb_features_df[k]['distanceWithMrt'].max()
    distmrt_max.append(temp)
    temp = hdb_features_df[k]['distanceWithRaffles'].min()
    distraffles_min.append(temp)
    temp = hdb_features_df[k]['distanceWithRaffles'].max()
    distraffles_max.append(temp)
    temp = hdb_features_df[k]['distanceWithGdPri'].min()
    distgdpri_min.append(temp)
    temp = hdb_features_df[k]['distanceWithGdPri'].max()
    distgdpri_max.append(temp)
    #flattype_min = hdb_features_df[k]['flat_type_num'].min()
    #flattype_max = hdb_features_df[k]['flat_type_num'].max()
    temp = hdb_features_df[k]['remaining_lease_num'].min()
    rlease_min.append(temp)
    temp = hdb_features_df[k]['remaining_lease_num'].max()
    rlease_max.append(temp)
    temp = hdb_features_df[k]['storey_range_num'].min()
    storeyrng_min.append(temp)
    temp = hdb_features_df[k]['storey_range_num'].max()
    storeyrng_max.append(temp)
    temp = hdb_features_df[k]['resale_price'].min()
    rprice_min.append(temp)
    temp = hdb_features_df[k]['resale_price'].max()
    rprice_max.append(temp)
    
    hdb_features_df[k]['flrarea_norm'] = hdb_features_df[k]['floor_area_sqm'].apply(normalization, args=(flrarea_min[k], flrarea_max[k]))
    hdb_features_df[k]['x_norm'] = hdb_features_df[k]['X'].apply(normalization, args=(x_min[k], x_max[k]))
    hdb_features_df[k]['y_norm'] = hdb_features_df[k]['Y'].apply(normalization, args=(y_min[k], y_max[k])) 
    hdb_features_df[k]['distmrt_norm'] = hdb_features_df[k]['distanceWithMrt'].apply(normalization, args=(distmrt_min[k], distmrt_max[k]))
    hdb_features_df[k]['distraffles_norm'] = hdb_features_df[k]['distanceWithRaffles'].apply(normalization, args=(distraffles_min[k], distraffles_max[k]))
    hdb_features_df[k]['distgdpri_norm'] = hdb_features_df[k]['distanceWithGdPri'].apply(normalization, args=(distgdpri_min[k], distgdpri_max[k]))
    #hdb_features_df[k]['flattype_norm'] = hdb_features_df[k]['flat_type_num'].apply(normalization, args=(flattype_min, flattype_max)) 
    hdb_features_df[k]['rlease_norm'] = hdb_features_df[k]['remaining_lease_num'].apply(normalization, args=(rlease_min[k], rlease_max[k]))
    hdb_features_df[k]['storeyrng_norm'] = hdb_features_df[k]['storey_range_num'].apply(normalization, args=(storeyrng_min[k], storeyrng_max[k]))
    hdb_features_df[k]['rprice_norm'] = hdb_features_df[k]['resale_price'].apply(normalization, args=(rprice_min[k], rprice_max[k])) 
    
    hdb_data_model_df.append(hdb_features_df[k].loc[:, hdb_features_df[k].columns.str.contains('norm')])
    
#hdb_data_model_df[5]

In [19]:
# Splitting train and test data for Linear Regression ML
hdb_predict_lr = []

for m in range(0, 6):
    X = hdb_data_model_df[m][['flrarea_norm', 
                              'x_norm', 
                              'y_norm', 
                              'distmrt_norm', 
                              'distraffles_norm', 
                              'distgdpri_norm', 
                              'rlease_norm', 
                              'storeyrng_norm']]
    y = hdb_data_model_df[m]['rprice_norm']

    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=12) 
    print (X_train.shape, X_test.shape, y_train.shape, y_test.shape)
    
    hdb_resale_price_lr = linear_model.LinearRegression()
    hdb_predict_lr.append(hdb_resale_price_lr)
    hdb_predict_lr[m].fit(X_train, y_train)

    #y_predicted = hdb_resale_price_lr.predict(X_test)
    y_predicted = hdb_predict_lr[m].predict(X_test)
    score = r2_score(y_test, y_predicted)

    print (str(flat_type[m]) + ", r2 score - " + str(score))

(738, 8) (246, 8) (738,) (246,)
2 ROOM, r2 score - 0.6551050597993556
(10365, 8) (3455, 8) (10365,) (3455,)
3 ROOM, r2 score - 0.6596588845394618
(17721, 8) (5908, 8) (17721,) (5908,)
4 ROOM, r2 score - 0.794369329112078
(10728, 8) (3576, 8) (10728,) (3576,)
5 ROOM, r2 score - 0.7664399526297156
(3442, 8) (1148, 8) (3442,) (1148,)
EXECUTIVE, r2 score - 0.6951137910069056
(23, 8) (8, 8) (23,) (8,)
MULTI-GENERATION, r2 score - 0.5880877800205326

In [28]:
print ("Flat Type (eg. 2 ROOM, 3 ROOM, 4 ROOM, 5 ROOM, EXECUTIVE, MULTI-GENERATION)")
flat_type_pdt = input()
print ("Floor Area (eg. 31sqm - 237sqm)")
floor_area_pdt = input()
print ("X-location")
x_loc_pdt = input()
print ("Y-location")
y_loc_pdt = input()
print ("Distance from Mrt")
dist_mrt_pdt = input()
print ("Distance from Raffles")
dist_raffles_pdt = input()
print ("Distance from Good Price")
dist_gdpri_pdt = input()
print ("Remaining Lease (0 to 99)")
remain_lease_pdt = input()
print ("Storey Range (eg. 01 TO 03, 04 TO 06, 07 TO 09, 10 TO 12, 13 TO 15, 16 TO 20)")
storey_range_pdt = input()

Flat Type (eg. 2 ROOM, 3 ROOM, 4 ROOM, 5 ROOM, EXECUTIVE, MULTI-GENERATION)
4 ROOM
Floor Area (eg. 31sqm - 237sqm)
85
X-location
39971
Y-location
34327
Distance from Mrt
600
Distance from Raffles
11000
Distance from Good Price
1040
Remaining Lease (0 to 99)
87
Storey Range (eg. 01 TO 03, 04 TO 06, 07 TO 09, 10 TO 12, 13 TO 15, 16 TO 20)
13 TO 15

In [29]:
flattype_numeric = convert_flattype(flat_type_pdt)
storey_range_numeric = convert_storeyrange(storey_range_pdt)

predict_flrarea_norm = normalization (float(floor_area_pdt), flrarea_min[flattype_numeric], flrarea_max[flattype_numeric])
predict_x_loc_norm = normalization (float(x_loc_pdt), x_min[flattype_numeric], x_max[flattype_numeric])
predict_y_loc_norm = normalization (float(y_loc_pdt), y_min[flattype_numeric], y_max[flattype_numeric])
predict_dist_mrt_norm = normalization (float(dist_mrt_pdt), distmrt_min[flattype_numeric], distmrt_max[flattype_numeric])
predict_dist_raffles_norm = normalization (float(dist_raffles_pdt), distraffles_min[flattype_numeric], distraffles_max[flattype_numeric])
predict_dist_gdpri_norm = normalization (float(dist_gdpri_pdt), distgdpri_min[flattype_numeric], distgdpri_max[flattype_numeric])
predict_remain_lease_norm = normalization (float(remain_lease_pdt), rlease_min[flattype_numeric], rlease_max[flattype_numeric])
predict_storey_range_norm = normalization (int(storey_range_numeric), storeyrng_min[flattype_numeric], storeyrng_max[flattype_numeric])

predict_features = [[predict_flrarea_norm,
                     predict_x_loc_norm,
                     predict_y_loc_norm,
                     predict_dist_mrt_norm,
                     predict_dist_raffles_norm,
                     predict_dist_gdpri_norm,
                     predict_remain_lease_norm,
                     predict_storey_range_norm]]

print(predict_features)

[[0.22058823529411764, 0.9147169517131496, 0.29768596666626007, 0.22130219823450623, 0.5246846277422105, 0.28549999363253303, 0.8150572831423895, 0.8]]

In [30]:
y_predict = hdb_predict_lr[flattype_numeric].predict(predict_features)

In [31]:
resale_price = y_predict*(rprice_max[flattype_numeric] - rprice_min[flattype_numeric]) + rprice_min[flattype_numeric]

print ("The predicted resale price - ", resale_price)

The predicted resale price -  [541064.88621283]